---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "FAQ: Preguntas y respuestas frecuentes.";
const description = "Si tienes alguna pregunta concreta, en esta página resuelvo las preguntas más frecuentes que tienen mis clientes.";
---

<BaseLayout title={title} description={description}>
  <h1>FAQ</h1>
</BaseLayout>
