---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Portfolio de Niv4k el Gato.";
const description = "Página principal de portfolio de nuestro vecino y amigo Niv4k.";
---

<BaseLayout title={title} description={description}>
  <h1>About me</h1>
</BaseLayout>
