---
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/jost";
import HeroBanner from "@/components/HeroBanner.astro";
import NavBar from "@/components/NavBar.astro";
import FooterBlock from "@/components/FooterBlock.astro";
import { ViewTransitions } from 'astro:transitions';
const { title, description } = Astro.props;
---
<style is:global>
  :root {
    --theme-color-lightest: #F2E1D8;
    --theme-color-light: #F29057;
    --theme-color-medium: #D9734E;
    --theme-color-dark: #404959;
    --theme-color-darkest: #000;

    --theme-warm-color-light: #ffceb5;
    --theme-cold-color-light: #98aed4;

    --serif-font: "Playfair Display Variable", serif;
    --sans-font: Jost, sans-serif;
  }

  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    background-color: var(--theme-warm-color-light);
  }

  .content {
    padding: 1rem 3rem;
    max-width: 1024px;
    margin: auto;
  }

  .svg-sprite {
    display: none;
  }
</style>

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
    <div class="page">
      <NavBar />
      <HeroBanner character="avocat.png" />
      <main class="content">
        <slot></slot>
      </main>
      <FooterBlock></FooterBlock>
    </div>
	</body>
</html>
